*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: beige;
    position: relative;
}
#nav{
    height: 75px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 80px;
    margin-right:60px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-part1 h4{
    margin-right:40px;
    font-size: 16px;
    text-transform:uppercase;
    font-weight:600;
}
#nav-part2 i{
    margin-right:30px;
    font-size: 20px;
    font-weight:500;
}
#content{
    width: 100%;
    height: calc(100% - 110px);
    position: relative;
    display: flex;
}
#left{
    width: 35%;
    height: 100%;
    padding: 110px 150px;

}
#left h5{ 
    font-size: 17px;
    margin-bottom: 18px;
    color:rgb(77, 77, 71) ;
}
#left h1{
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
#left p{
    font-size: 15px;
    width: 100%;
    margin-bottom: 50px;
}
#left button{
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 50px;
    border-top-left-radius: 0px;
    text-transform: uppercase;
}
#right{
    height: 100%;
    width: 65%;
    /*background-color: red;*/
    position: relative;
    padding: 140px;
    white-space: nowrap;
    overflow-x: auto;
}
#right::-webkit-scrollbar{
    display: none;
}
.element{
    height: 400px;
    width: 280px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-right: 20px;
    display: inline-block;
}
.element img{
    height: 70%;
    width: 100%;
    top: 7%;
    object-fit: cover;
    position: absolute;
}
.element h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: beige;
    padding: 15px 30px;
    border-radius: 6px;
}
.element h5{
    position: absolute;
    bottom: 10%;
    right: 0;
    background-color: #000;
    color:#fff;
    font-weight: 500;
    font-size: 13px;
    padding: 15px 30px;
    border-radius: 6px;
}